

    h1, p, table {
        font-family: arial;
        background-color: #ccc;
        border: 1px solid;
    }

    #id .class:after h1,
    #id > .class:first-child {
        bottom: -7px;
        position: absolute;
        var-deprecated-
    }

    @media print {
        a[href^=http]::after {
            content: attr(href)
        }
    }

